@model IList<Data.Stock>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<table class="highlight centered">
    <br />
    <thead>
        <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Capacidad</th>
            <th>Color</th>
            <th>Dimensiones</th>
            <th>Categoria</th>
            <th>Linea</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stock in Model)
        {
            <tr>
                <td>@stock.Id</td>
                <td>@stock.Product.Name</td>
                <td>@stock.Capacidad</td>
                <td>@stock.Color</td>
                <td>@stock.Measurements</td>
                <td>@stock.Categorie</td>
                <td>@stock.Line</td>
                <td>@stock.Price</td>
                <Td>@stock.State</Td>
                <Td>@stock.CantidadStock</Td>
                <td>@stock.Image</td>
                <td><a href="/Stock/Edit/@stock.Id"><i class="small material-icons">mode_edit</i></td>
                <td><a href="/Stock/Delete/@stock.Id"><i class="small material-icons">delete</i></td>
            </tr>
        }
    </tbody>
</table>


