@model IList<Data.Stock>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <table class="highlight centered">
        <br />
        <thead>
            <tr>
                <th>Id
                
                <th>Producto y capacidad</th>
                <th>Color</th>
                <th>Medidas</th>
                <th>Grupo</th>
                <th>Linea</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Stock</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr>
                    <td>@stock.Id</td>
                    <td>@stock.ProductId</td>
                    <td>@stock.Color</td>
                    <td>@stock.Measurements</td>
                    <td>@stock.Group</td>
                    <td>@stock.Line</td>
                    <td>@stock.Price</td>
                    <Td>@stock.State</Td>
                    <Td>@stock._Stock</Td>
                    <td><a href="/Stock/Edit/@stock.Id"><i class="small material-icons">mode_edit</i></td>
                    <td><a href="/Stock/Delete/@stock.Id"><i class="small material-icons">delete</i></td>
                </tr>
            }
        </tbody>
    </table>
</div>

