@model Data.Client
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <div class="row">
        <form class="col s12" action="/Client/Create" method="post">
            <br />
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.NombreDelCliente)
                    @Html.LabelFor(x => x.NombreDelCliente)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Calle)
                    @Html.LabelFor(x => x.Calle)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Localidad)
                    @Html.LabelFor(x => x.Localidad)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Numeracion)
                    @Html.LabelFor(x => x.Numeracion)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Departamento)
                    @Html.LabelFor(x => x.Departamento)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Piso)
                    @Html.LabelFor(x => x.Piso)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.ContactoCliente)
                    @Html.LabelFor(x => x.ContactoCliente)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.EmailCliente)
                    @Html.LabelFor(x => x.EmailCliente)
                </div>
                <div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">save</i>Guardar producto</button>
                </div>
            </div>
        </form>
    </div>
</div>

