@model Data.Sale
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <div class="row">
        <form class="col s12" action="/Sale/Create" method="post">
            <br />
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Client)
                    @Html.LabelFor(x => x.Client)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.ProductAndCapacity)
                    @Html.LabelFor(x => x.ProductAndCapacity)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Units)
                    @Html.LabelFor(x => x.Units)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Date)
                    @Html.LabelFor(x => x.Date)
                </div>
                <div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">save</i>Guardar producto</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>
    }

