@model IList<Data.Product>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <table class="highlight centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del producto y capacidad</th>
                <th>Compuesto por</th>
                <th>Descripcion rápida</th>
                <th>Descripcion general</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Composition</td>
                    <td>@product.ShortDescription</td>
                    <td>@product.LargeDescription</td>
                    <td><a href="/Product/Edit/@product.Id"><i class="small material-icons">mode_edit</i></a></td>
                    <td><a href="/Product/Delete/@product.Id"><i class="small material-icons">delete</i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

